<?xml version="1.0" ?>
<module>
	<title>Test Questions Uploading</title>
	<author>Nick Baltas</author>
	<date>2010 02 03</date>
	<version>1.1</version>
	<description>
		This module parses CSV files for tests questions 
	</description>
	<className>module_questions_from_csv</className>
</module>
