.chatbox {
	position: fixed;
	width: 225px;/*225 default*/
	display:none;
	padding-bottom:1px;
	border:1px solid #999999;
}

.chatboxhead {
	background-color: #006699;
	padding:2px;
	color: #FFFFFF;
}

.chatboxblink {
	background-color: #0099FF;
	border-right:1px solid #176689;
	border-left:1px solid #176689;
}

.chatboxcontent {
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #333333;
	height:200px;
	width:209px;
	overflow:auto;
	padding:7px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #eeeeee;
	background-color: #FFFFFF;
	line-height: 1.3em;
}

.chatboxinput {
	padding: 5px;
	background-color:#FFFFFF;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}

.chatboxtextarea {
	width: 206px;
	height:44px;
	padding:3px 0pt 3px 3px;
	border: 1px solid #006699;
	margin: 1px;
	overflow:hidden;
	background-color:#FFFFFF;
}

.chatboxtextareaselected {
	border: 2px solid #0066FF;
	margin:0;
}

.chatboxmessage {
	margin-left:1em;
}

.chatboxinfo {
	margin-left:-1em;
	color:#666666;

}

.chatboxmessagefrom {
	margin-left:-1em;
	font-weight: bold;
}

.chatboxmessagecontent {
}

.chatboxoptions {
	float: right;
}

.chatboxoptions a {
	text-decoration: none;
	color: white;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}

.chatboxtitle {
	float: left;
}