.chatmsg{
	width:70%;
	max-width:70%;
	border:none;
	white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.sender{
	vertical-align:top;
}

.date{
	vertical-align:top;
	width:10%;
}

.logrow{
	border-bottom:1px solid;
}