@charset "utf-8";

a{
	outline: none;
}


#chat_module{
	clear:both;
	z-index:1000;
	vertical-align:bottom;
}

#windowspace{
	overflow-y:hidden;
	overflow:auto;
	border:0px;
	float:left;
	bottom:0px;
	position:fixed;
	right:219px;
	/*max-width:1135px;*/ /*init 910*/
	z-index:999;
	vertical-align:bottom;
}

#windows{
	
	overflow-y:hidden;
	white-space:nowrap;
	border:none;
	position:relative;
	z-index:998;
	overflow:hidden;
	float:left;
	display:table-row;
	vertical-align:bottom;
}

#chat_bar {

	width:0px;
	height:25px;
	position:fixed; /* chat_bar div must be fixed, for the fixed bar to work */
	bottom:0px;
	right:1px;
	border:0px solid #999999;
	background-color:#FFFFFF;
	text-align:left;
	outline: none;
}


#user_list {
	height:100%;
	position:relative;
	overflow:auto;
	padding-bottom:0px;
	visibility:visible;
	outline: none;
	z-index:998;
	border:0px solid #FF0000;
	background-color:#E1E2FF;
}

#content{
	padding-bottom:1px;
	outline: none;
	font-family: Trebuchet MS,verdana,geneva,arial,helvetica,sans-serif;
}

#content p{
	background-color:#E1E2FF;
	padding-left:5px;
	padding-bottom:1px;
	margin:0;
	text-align:left;
	font-family: Trebuchet MS,verdana,geneva,arial,helvetica,sans-serif;
}

#content p a{
	color:#000000;
	font-family: Trebuchet MS,verdana,geneva,arial,helvetica,sans-serif;
}

#status{
	margin-right:80px;
	vertical-align:super;
	font-family: Trebuchet MS,verdana,geneva,arial,helvetica,sans-serif;
}
#statusimg{
	border:none;
	height:100%
}
