<?xml version="1.0" ?>
<module>
	<title>Info-kiosk</title>
	<author>Periklis Venakis</author>
	<date>2012 08 02</date>
	<version>1.4</version>
	<description>A module that allows for uploading files to be visible for all users to see</description>
	<className>module_info_kiosk</className>
	<requires>3.6.11</requires>
</module>
