<?xml version="1.0" ?>
<module>
	<title>WorkBook</title>
	<author>Andreas Makridakis</author>
	<date>2010 09 15</date>
	<version>1.0</version>
	<description>Through Workbook module professors are trying to get students to pay attention to certain lesson items</description>
	<className>module_workbook</className>
</module>
