<?xml version="1.0" ?>
<module>
	<title>GIFT/AIKEN Questions Import</title>
	<author>Nick Baltas</author>
	<date>2009 07 17</date>
	<version>1.3</version>
	<description>
		This module is used to create questions from GIFT/AIKEN formats
	</description>
	<className>module_gift_aiken</className>
</module>
