<?xml version="1.0" ?>
<module>
	<title>Branch Themes</title>
	<author>Proton Communications</author>
	<date>2010 12 20</date>
	<version>1.0.5</version>
	<description>
		This module allows the admin to assign a particular theme to a particular branch
	</description>
	<className>module_branchthemes</className>
</module>
