<?xml version="1.0" ?>
<module>
	<title>Shared files module</title>
	<author>Periklis Venakis</author>
	<date>2011 02 16</date>
	<version>1.0</version>
	<description>Module for sharing lesson folders and files</description>
	<className>module_shared_files</className>
	<requires>3.6.8</requires>
</module>
