<?xml version="1.0" ?>
<module>
	<title>Advanced branch reports</title>
	<author>Periklis Venakis</author>
	<date>2012 08 22</date>
	<version>1.0</version>
	<description>Advanced branch reports</description>
	<className>module_branch_reports</className>
	<requires>3.6.11</requires>
</module>
