html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	background: transparent;
}

body {
	/*
	 * Geneva,'Lucida Grande',Helvetica,Calibri,'Trebuchet MS',
	 */
	font-family:'Helvetica Neue',Geneva,'Lucida Grande','Trebuchet MS',Verdana,Tahoma,sans-serif;
	font-size: 13px;
	/*background:#F1FAFB;*/
	margin:0px;
	color:#333333;
}

html, body {
	height: 100%;
}

strong {font-weight:bold;}

#page-mask {
	position:fixed;
	top:0px;
	left:0px;
	filter:alpha(opacity=40);
	-moz-opacity:0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
	width:100%;
	height:100%;
	background:#333333;
	z-index:100;
	display:none;
}

#wrapper {
	min-width:700px;
	max-width:900px;
	border:solid 1px #AAAAAA;
	background:#F0F0F0;
}

#page-head {
	min-width:700px;
	max-width:900px;
	min-height:30px;
	max-height:120px;
	border-bottom:solid 1px #888;
	overflow:hidden;
}

div.main-content {
	background:#FFFFFF;
	text-align:justify;
	padding:10px;
}
div.main-content.left {float:left;}
div.main-content.right {float:right;}

div.menu-sidebar {
	max-width:210px;
	min-width:210px;
	padding:10px;
}

div.menu-sidebar.left { float: left; }
div.menu-sidebar.right { float: right; }

div.form-container {
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:50;
	margin:0px;
	padding:0px;
	display:none;
}


div.form {
	height:0px;
	background:#FFFFFF;
	border:solid 1px #aaaaaa;
	padding:0px;
	margin:0px;
}

div.form-content {background:#FFFFFF; display:none;}

div.form-trigger {
	clear:both;
	cursor:pointer;
	float:right;
}
div.form-trigger.left{margin-right:250px;}
div.form-trigger.right{margin-right:20px;}

div.form-mask {
	position:absolute;
	top:1px;
	left:0px;
	filter:alpha(opacity=30);
	-moz-opacity:0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
	width:100%;
	height:420px;
	background:#333333;
	z-index:100;
	display:none;
}

a.plain {text-decoration:none;color:#000;}
a.plain:hover {text-decoration:underline;}
a.plain:active{}
a.plain:visited{}
